.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Age-label {
  margin-top: 10px;
  margin-bottom: 30px;
}

button {
  margin-left: 10px;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}
.news{
  margin: 0 auto;
}
.heading{
  margin: 0 auto;
}
.logo{
  width: 100px;
}
.headingTitle{

}